* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
section {
  padding: 100px 0;
}
.max-width {
  max-width: 800px;
  padding: 0 50px;
}
nav .max-width {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.navbar {
  background-color: black;
  width: 100%;
  height: 50px;
  position: fixed;
}
nav ul {
  position: relative;
  display: flex;
  align-items: center;
}
nav ul ul {
  background-color: black;
  display: none;
  list-style: none;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding-top: 20px;
  position: absolute;
}
nav ul li:hover > ul {
  display: inherit;
}
nav ul ul li {
  border-bottom: 2px solid rgb(136, 148, 68);
  margin-bottom: 10px;
}

.logo a {
  color: white;
  font-size: 30px;
}
.logo a:hover {
  color: red;
}
.navbar ul li a {
  font-size: 20px;
  color: bisque;
  list-style: none;
  inline-size: min-content;
}
.navbar .btn-menu {
  display: flex;
}
.navbar .menu {
  display: none;
}
.navbar .menu li {
  margin-left: 20px;
}
.navbar ul li a:hover {
  color: white;
}
/* Home Page */

.home {
  width: 100%;
  height: calc(100vh - 40px);
  background-image: linear-gradient(black, rgb(61, 52, 52));
  display: flex;
  align-items: center;
}
.home .home-content,
.home .home-content a {
  color: white;
}

.home .home-content .text1 {
  font-size: 30px;
}
.home .home-content .text2 {
  font-size: 60px;
  font-weight: 800;
}
.home .home-content .text3 {
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.home .home-content a {
  display: inline-block;
  color: white;
  font-size: 30px;
  background-color: rgb(131, 116, 67);
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
}

/* About Me  */
@media screen and (min-width: 760px) {
  .max-width {
    max-width: 1300px;
  }
  .navbar .btn-menu {
    display: none;
  }
  .navbar .menu {
    display: flex;
  }
  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .about-content .right {
    margin-left: 20px;
  }
}

.about {
  width: 100%;
  height: auto;
  background-image: linear-gradient(rgb(61, 52, 52), rgb(122, 108, 108));
}
.about .title,
.contact .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.about .about-content {
  width: 100%;
  height: auto;
}
.about .about-content .column {
  display: block;
  width: 100%;
}
.about .about-content .column img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 60px;
}

.about .about-content .column h3 {
  display: flex;

  align-items: center;
  margin-bottom: 20px;
}
.about .about-content .column a {
  display: inline-block;
  color: white;
  font-size: 30px;
  background-color: rgb(131, 116, 67);
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
}

/* SKILLS  */

.skills {
  width: 100%;
  height: auto;
  background-image: linear-gradient(rgb(122, 108, 108), rgb(219, 212, 212));
}

.skills .title {
  display: flex;
  justify-content: center;
  font-weight: 600;
  margin: 0 auto 50px;
}
.skills .skills-content .column {
  width: 100%;
}
.skills .skills-content .right {
  margin-top: 20px;
}

.skills .skills-content h3 {
  display: flex;
  justify-content: center;
  font-size: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}
.skills .skills-content .right .info {
  display: flex;
  justify-content: space-between;
}
.skills .skills-content .right .line {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(145, 137, 137);
}
.skills .skills-content .right .line .html {
  width: 0%;
  height: 100%;
  animation: html 5s linear infinite;
  background: red;
}
.skills .skills-content .right .line .css {
  width: 0%;
  height: 100%;
  animation: css 5s linear infinite;
  background: rgb(196, 250, 0);
}
.skills .skills-content .right .line .javascript {
  width: 0%;
  height: 100%;
  animation: javascript 5s linear infinite;
  background: rgb(15, 177, 226);
}
.skills .skills-content .right .line .react {
  width: 0%;
  height: 100%;
  animation: react 5s linear infinite;
  background: rgb(252, 4, 219);
}
@keyframes html {
  100% {
    width: 70%;
  }
}
@keyframes css {
  100% {
    width: 50%;
  }
}
@keyframes javascript {
  100% {
    width: 60%;
  }
}
@keyframes react {
  100% {
    width: 65%;
  }
}
/* Portofolio */

.portfolio {
  width: 100%;
  height: auto;
  background-color: rgb(24, 22, 22);
}

.portfolio .title {
  display: flex;
  justify-content: center;
  font-weight: 600;
  margin: 0 auto 50px;
  color: white;
}
.projects {
  width: 100%;
  display: block;
}
.projects .project-card {
  width: 100%;
  background-color: rgb(104, 96, 110);
  border: 2px solid black;
  padding: 10px;
  margin: 20px 0;
  padding: 40px;
  border-radius: 20px;
}
.portfolio .projects .project-card a img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.project-text {
  margin: 20px 0;
  display: block;
}
.project-text h2,
.project-text h4 {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.project-text span a {
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-size: larger;
  color: white;
}
.project-text span a i {
  font-size: 20px;
  margin-right: 5px;
}
.project-text span a:hover {
  color: black;
  cursor: pointer;
}
.project-text p {
  margin-top: 20px;
}
@media screen and (min-width: 860px) {
  .projects .project-card {
    display: block;
  }
  .portofolio .projects .project-card a img {
    width: 400px;
  }
  .max-width {
    max-width: 1300px;
  }
  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .about-content .right {
    margin-left: 20px;
  }
  .projects .project-card {
    display: flex;
    align-items: center;
  }
  .projects .project-card .project-text {
    margin-left: 20px;
  }
  .skills .skills-content {
    display: flex;
  }
  .skills .skills-content .right {
    margin-left: 20px;
  }
}

@media screen and (min-width: 1300px) {
  .max-width {
    margin: auto;
    max-width: 1300px;
  }
  .home .max-width,
  .one .max-width {
    margin-left: 0;
  }
}

/* Contact */
.contact {
  background-color: white;
}
.contact .contact-content .column .text {
  margin-bottom: 5px;
  font-size: 20px;
}

.contact .contact-content .column p {
  margin-bottom: 10px;
}
.contact .contact-content .row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact .contact-content .row i {
  width: 10px;
  font-size: 24px;
  color: red;
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .icons .subtitle a:hover {
  color: red;
}
.contact form .fields {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
.contact .column .fields .field {
  width: 48%;
  border-radius: 5px;
}
.contact .column .fields .name {
  margin-right: 4%;
}
.contact form .field input {
  width: 100%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  height: 25px;
}

.contact .textarea {
  padding-top: 10px;
}
.contact .textarea textarea {
  width: 100%;
  height: 70px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

.contact .button {
  padding-top: 10px;
}

.contact button {
  width: 10rem;
  height: 50px;
  border: 1px solid red;
  border-radius: 7px;
  background-color: red;
  color: white;
  font-size: 20px;
}
.contact button:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}

/* Footer */

footer {
  height: 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer span {
  color: white;
  font-size: 15px;
}

.footer-name {
  color: red;
}

@media screen and (min-width: 900px) {
  .contact .contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact .column .right {
    align-items: center;
    margin-top: 20px;
  }
  .contact .column {
    width: 100%;
  }
}
